@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Red+Hat+Display:wght@700&display=swap');

@font-face {
    font-family: 'Brevia';
    src: url('./assets/font/HvDTrial_Brevia-Bold-BF6493a4067c1a1.otf');
    font-weight: Bold;
}


:root {
    --white: white;
    --black: black;
    --dark-blue-gray: #1b2026;
    font-family: 'Arimo', sans-serif;
    --swiper-pagination-color: #bdbdbd;
    --swiper-pagination-bullet-inactive-color: rgba(0,0,0,0);
    --swiper-pagination-bullet-inactive-opacity: 1;
}


body {
    margin: 0;
}

h1, h2, h3, h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Brevia', sans-serif;
}

p {
    margin: 5px 0 0;
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

button {
    font-size: 1.5rem;
}

/* <top-contact> */
.top-contact {
    display: flex;
    margin: 5px 0;
    padding: 0 20px;
    justify-content: flex-end;
}

.top-contact > a {
    font-family: 'Brevia', sans-serif;
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
}

/* </top-contact> */


/* <navbar> */


#navbar {
    display: flex;
    justify-content: space-between;
    z-index: 999;
    font-size: 1.6rem;
    background-color: var(--dark-blue-gray);
}

.logo {
    margin: 0 0 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 50px;
}

#nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;

}


#nav-links a {
    font-family: 'Brevia', sans-serif;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
}

#nav-links > a:link, #nav-links > a:visited, #nav-links > a:active {
    color: var(--white);
}

#nav-links a:hover {
    color: gray;
    text-decoration: underline;
}

#nav-links .horizontal-line {
    display: none;
}

#mobile-menu-trigger-box {
    margin: 10px;
}

#mobile-menu-trigger {
    width: 100px;
    height: 38px;
    color: var(--white);
    background-color: var(--dark-blue-gray);
    border: 1px solid var(--white);
    border-radius: 20px;
    cursor: pointer;
    display: none;
}

/* </navbar> */

/* <first-section> */

.first-section {
    min-height: 80vh;
}

.main-slider {
    width: 100%;
    min-height: 80vh;
}

.main-slider .swiper-slide {
    display: flex;
    width: 100%;
    height: 85vh;
}

.swiper-slide .img-container {
    width: 50vw;
    height: 90%;
    transform: translateX(50px);
    opacity: 0;
    border: 4px solid var(--dark-blue-gray);
}

.swiper-slide-active .img-container {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.swiper-slide .text-content {
    padding: 10px;
    color: var(--black);
    margin: 40px 50px;
    width: 50%;
    background-color: var(--white);
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content {
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.text-content > h1 {
    font-family: 'Brevia', sans-serif;
    font-weight: bold;
}

.text-content > hr {
    float: left;
}

.text-content > p {
    clear: both;
    /*font-size: 1rem;*/
}

.swiper-slide .contact-btn {
    background-color: var(--dark-blue-gray);
    color: var(--white);
    border: 0;
    margin: 10px 0;
    padding: .5em 2em;
    border-radius: 45px 30px;
    cursor: pointer;
    transition: .2s;
}

.swiper-slide .contact-btn:hover {
    transform: scale(0.9);
}

.first-section .swiper-pagination {
    text-align: left !important;
    margin: 0 50px;
}

.first-section .swiper-pagination-bullet {
    border: 2px solid #bdbdbd;
}

.scroll-button {
    position: absolute;
    z-index: 9999;
    width: 80px;
    height: 80px;
    background-color: var(--dark-blue-gray);
    border-radius: 45px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    left: 50%;
    bottom: 5%;
    cursor: pointer;
}

.scroll-button > svg {
    width: 80px;
    height: 80px;
}
/* </first-section> */

/* <categories> */

.categories {
    margin: 40px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--dark-blue-gray);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Pozycja */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.category-item-1 {
    grid-area: item1;
}

.category-item-2 {
    grid-area: item2;
}

.category-item-3 {
    grid-area: item3;
}

.category-item-4 {
    grid-area: item4;
}

.category-item-5 {
    grid-area: item5;
}

.category-img {
    position: relative;
    border: 5px solid var(--dark-blue-gray);
}

.category-img > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.categories-grid-wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas:
            "item1 item1 item2 item4"
            "item1 item1 item2 item5"
            "item1 item1 item3 item5"
;
}

.categories-button {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.categories-button > button {
    position: absolute;
    color: var(--white);
    font-weight: bold;
    background-color: var(--dark-blue-gray);
    border: 1px solid var(--black);
    transition: 0.2s;
    padding: .5em 2em;
    border-radius: 70px 30px;
    cursor: pointer;
}

.categories-button > button:hover {
    transform: scale(0.9);
}

/* </categories> */

/* <our-travels> */
.our-travels {
    background-color: var(--dark-blue-gray);
    margin: 40px;
    padding: 30px;
}

.our-travels > header > h1 {
    text-align: center;
    color: var(--white);
    margin-bottom: 15px;
}

.mySwiperSlide2 {

}

.mySwiperSlide2 > img {
    border: 5px solid var(--white);
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.swiper-pagination2 {
    position: initial;
    text-align: center;
}

.our-travels .swiper-pagination-bullet {
    border: 2px solid #bdbdbd;
}
/* </our-travels> */

/* <about-our-products> */
.about-our-products {
    display: flex;
    margin: 40px;
}

.about-our-products-header-box {
    border-top: 80px solid white;
    color: var(--white);
    background-color: var(--dark-blue-gray);
    width: 80%;
}

.about-our-products-header-box > header {
    padding: 30px;
}

.about-our-products-header-box > header > h1 {
    font-family: 'Brevia', sans-serif;
}

.about-our-products-header-box > header > button {
    margin-top: 20px;
    font-weight: bold;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--black);
    cursor: pointer;
    transition: 0.2s;
    padding: .5em 2em;
    border-radius: 20px 30px;
}

.about-our-products-header-box > header > button:hover {
    transform: scale(0.9);
}

.about-our-products-img-box {
    border: 10px solid var(--dark-blue-gray);
}

.about-our-products-img-box > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

/* </about-our-products> */

/* <our-stories> */

.our-stories {
    padding: 20px 40px;
}

.our-stories > header {
    margin: 30px 0;
    text-align: center;
}

.our-stories > header > h1 {
    font-family: 'Brevia', sans-serif;
}

.our-stories-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}

.our-store-img {
    border: 5px solid var(--dark-blue-gray);
}

.our-store-img > img {
    display: block;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

/* </our-stories> */

/* <footer> */

footer {
    background-color: var(--dark-blue-gray);
    padding: 100px 50px 50px;
    display: flex;
    justify-content: space-between;
}

footer > header {
    color: var(--white);
    max-width: 700px;
    padding-right: 20px;
}

footer > header > p {
    margin-top: 30px;
}

.footer-contact-column {
    width: 35vw;
}

.footer-socials-icon {
    display: flex;
    margin: 50px 50px;
    font-size: 1.5rem;
}

.footer-socials-icon a {
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.footer-socials-icon a:link, .footer-socials-icon a:visited, .footer-socials-icon a:active   {
    color: var(--white);
}

.footer-socials-icon a:hover {
    color: var(--black);
}

form {
    display: block;
}

.label-div {
    position: relative;
}

label > input {
    border-bottom: 4px solid var(--white);
}


input, textarea {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    outline: none;
    height: 100%;
    background-color: rgba(0,0,0,0);
}

textarea {
    border: 4px solid var(--white);
}

input::placeholder, textarea::placeholder {
    opacity: 0;
}

.contact-form {
    width: 100%;
}

.contact-form span {
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(30px);
    font-size: 1.2rem;
    transition-duration: 300ms;
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--dark-blue-gray);
    margin-left: 10px;
}

label:focus-within > span,
input:not(:placeholder-shown) + span,
textarea:not(:placeholder-shown) + span{
    transform: translateY(5px);
}

label:focus-within > span {
    color: gray;
}

label:focus-within > input {
    border-bottom: 4px solid gray;
}

textarea:focus-within {
    border: 4px solid gray;
}

#message {
    width: calc(35vw - 8px);
    height: 30vh;
}


#submit-button {
    color: var(--black);
    background-color: var(--white);
    font-weight: bold;
    width: 10em;
    height: 2.5em;
    cursor: pointer;
    margin-top: 10px;
    float: right;
    transition: 0.2s;
    padding: .5em 1em;
    border-radius: 30px 45px;
}

#submit-button:hover {
    transform: scale(0.9);
}

/* </footer> */

@media screen and (max-width: 900px) {

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
    }


    section {
        max-width: 900px;
    }

    /* <navbar> */
    #navbar {
        display: block;
        padding: 10px;
        font-size: 1rem;
    }

    #nav-links {
        display: none;
        justify-content: center;
    }

    #nav-links ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #nav-links a {
        text-align: center;
        color: white;
    }

    #nav-links a:hover {;
        color: grey;
    }

    #nav-links li:not(:last-child) {
        border-bottom: 1px solid var(--white);
    }

    #mobile-menu-trigger {
        display: block;
    }

    /* </navbar> */


    /* <first-section> */

    .swiper-slide .text-content {
        width: 100%;
    }

    .swiper-slide-active .img-container {
        display: none;
    }

    /* </first-section> */


    /* <categories> */

    .categories {
        margin: 30px;
    }

    .categories-grid-wrapper {
        display: grid;
        gap: 10px;
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
    ;
    }


    /* </categories> */


    /* <our-travels> */
    .our-travels {
        margin: 0;
        padding: 30px 0 30px 30px;
    }

    /* </our-travels>*/

    /* <about-our-products> */

    .about-our-products {
        margin: 30px 0 0;
    }

    .about-our-products-header-box {
        border-top: 0;
        width: 70%;
    }


    /* </about-our-products> */

    /* <our-stories> */

    .our-stories {
        padding: 0 30px;
    }


    .our-stories-grid-wrapper {
        grid-template-columns: 1fr;
        gap: 30px;
        margin: 30px 0;
    }

    /* </our-stories> */

    /* <footer> */

    footer {
        padding: 80px 30px 30px;
        flex-direction: column;
    }

    footer > header > p {
        font-size: 1rem;
    }

    .footer-socials-icon {
        margin: 30px 30px;
    }

    .footer-contact-column {
        width: 100%;
    }

    #message {
        width: calc(100% - 8px);
    }

    /* </footer> */
}